<div class="sessions_new_wrapper">
  <%= form_with(model: @user, scope: :session, local: true) do |f| %>
    <%= render 'admin/shared/error_messages' %>
    <div class="field">
      <%= f.label :email, 'メールアドレス' %><br />
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, 'パスワード' %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'パスワード確認' %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.submit 'ログイン' %>
    </div> 
  <% end %>
</div>
