<%= form_with(model: @user, scope: :session, local: true) do |f| %>
  <%= render 'admin/shared/error_messages' %>
  <div>
    <%= f.label :email, 'メールアドレス' %><br />
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, 'パスワード' %><br />
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'パスワード確認' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit 'ログイン' %>
  </div> 
<% end %>
