<div class="admin_show_wrapper">
  <nav class="navigator">
    <div class="action">
      ユーザ: <%= @admin.name %>
    </div>
    <div class="action">
      <%= link_to 'プロフィール', new_admin_article_path %>
    </div>
    <div class="action">
      <%= link_to '新規作成', new_admin_article_path %>
    </div>
    <div class="action">
      <%= link_to '記事一覧', admin_articles_path %>
    </div>
    <div>
      <%= link_to '新しいタグを作る', new_admin_category_path %>
    </div>
    <div class="action">
      <%= link_to 'アクセス解析', '#' %>
    </div>
    <div class="action">
      <%= link_to 'ログアウト', admin_logout_path, method: :delete %>
    </div>
  </nav>
  <div class="article_list">
    <%= render 'admin/components/article_list', articles: @articles %>
  </div>
</div>
