<div class="admin_show_wrapper">
  <nav class="navigator">
    <div>
      ログイン中のユーザ<br />
      <%= @admin.name %>
    </div>
    <div>
      <%= link_to '新規作成', new_admin_article_path %>
    </div>
    <div>
      <%= link_to '記事一覧', admin_articles_path %>
    </div>
    <div>
      <%= link_to 'アクセス解析', '#' %>
    </div>
    <div>
      <%= link_to 'ログアウト', '#' %>
    </div>
    <div>
    </div>
    <div>
    </div>
  </nav>
  <div class="article_list">
    <%= render 'admin/components/article_list', articles: @articles %>
  </div>
</div>