<div class="_article_list__wrapper">
  <% articles.each do |article| %>
    <div class="item">
      <div class="article">
        <div class="title"><%= article.title %></div>
        <span class="small"><%= article.created_at.to_s(:datetime_jp) %></span>
        <span class="small"><%= show_status(article.status) %></span>
      </div>
      <div class="action_wrapper">
        <div class="clickable_item">
          <%= link_to('編集', edit_admin_article_path(article)) %>
        </div>
        <div class="clickable_item">
          <% if article.status == '0' %>
            <span class="disable">下書きに戻す</span>
          <% else %>
            <%= link_to('下書きに戻す', turn_to_draft_admin_articles_path(article), data: { confirm: '下書きに戻しますか？?'} )  %>
          <% end %>
        </div>
        <div class="clickable_item">
          <%= link_to('物理削除', admin_article_path(article.id), data: { confirm: '削除しますか？'}, method: :delete )  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
