<div class="admin_article_wrapper">
  <section class="post_wrapper">
    <%= form_with model: [:admin, @article], local: true do |f|  %>
      <div>
        <%= f.text_field :title, class: 'article_form', placeholder: 'タイトル' %>
      </div>
      <div>
        <%= f.rich_text_area :content, class: 'article_form' %>
      </div>
       <div>
        <div>
          <%= f.label :category, 'タグ' %>
        </div>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
          <%= category.label do %>
            <%= category.check_box %>
            <%= show_tag(category.text) %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= f.submit yield(:submit1) %>
        <%= f.submit '下書き', formaction: draft_admin_articles_path %>
      </div>
    <% end %>
  </section>
</div>
<%= javascript_pack_tag 'application' %>
